%p#notice= notice

%p
  %b Name:
  = @team.name
%p
  %b Org:
  = @team.org.name

%p
  %b Zones:
  - @team.zones.each do |z|
    = z.epi_code

%p
  %b People:
  %ul
    %li
    - @team.people.each do |p|
      = link_to p.full_name, person_path(p)

  / .row
  /   .col-md-6
  /     %table.table
  /       %thead
  /         %tr
  /           %th Full name
  /           %th
  /           %th
  /           %th
            
  /       %tbody
  /         - @team.people.each do |person|
  /           %tr
  /             %td= person.full_name
  /             %td= person.teams.map(&:name).join(', ')
  /             %td= link_to 'Show', person
  /             %td= link_to 'Edit', edit_person_path(person)
  /             %td= link_to 'Destroy', person, :method => :delete, :data => { :confirm => 'Are you sure?' }


= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
