= bootstrap_form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-4
      .field
        = f.text_field :first_name
    .col-md-4
      .field
        = f.text_field :middle_name
    .col-md-4
      .field
        = f.text_field :last_name
  .row
    .col-md-3
      .field
        = f.text_field :email
    .col-md-3
      .field
        = f.text_field :phone

  / .field
  /   = f.check_box :is_supervisor

  .field
    = f.select :position_ids, Position.all.collect {|x| [x.name, x.id]}, {label: 'Positions'}, :multiple => true


  .field
    = f.select :team_ids, Team.all.collect {|x| [x.org.nick + ': '+ x.name, x.id]}, {label: 'Teams'}, :multiple => true

  .field
    = f.text_area :notes
    
  .actions
    = f.submit 'Save'
