%h1 Listing people

%table.table.sort{id: 'sort'}
  %thead
    %tr
      %th First name
      %th Middle name
      %th Last name
      / %th Is supervisor
      %th Email
      %th Phone
      %th Org
      %th Position
      %th Teams
      %th
      %th
      %th
      
  %tbody
    - @people.each do |person|
      %tr
        %td= person.first_name
        %td= person.middle_name
        %td= person.last_name
        / %td= !!person.is_supervisor
        %td= person.email
        %td= person.phone
        / %td= person.org.name
        %td= person.orgs.map(&:name).join(",")
        %td= person.positions.map(&:name).join(', ')
        %td= person.teams.map(&:name).join(', ')
        %td= link_to 'Show', person
        %td= link_to 'Edit', edit_person_path(person)
        %td= link_to 'Destroy', person, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

:javascript
  new Tablesort(document.getElementById('sort'));

= link_to 'New Person', new_person_path
