%p#notice= notice

%p
  %b First name:
  = @person.first_name
%p
  %b Middle name:
  = @person.middle_name
%p
  %b Last name:
  = @person.last_name
%p
  %b Email:
  = @person.email
%p
  %b Phone:
  = @person.phone
%p
  %b Team:
  = @person.team

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
