
%div{'ng-controller' => 'myCtrl'}
  .row
    .col-md-4
      .row
        .col-md-12
          %map

        .col-md-12
          - if is_admin?

            = link_to 'Orgs',   orgs_path
            |      
            = link_to 'Teams',  teams_path
            |
            = link_to 'People', people_path
            |
            = link_to 'Tasks',  tasks_path
            |
            = link_to 'Zones',  zones_path

    .col-md-8
      %br
        %form
          .field{'ng-repeat' => '(task, enabled) in tasks', 'ng-cloak' => ''}
            %input{"ng-model" => "tasks[task]", :type => "checkbox", 'ng-click' => 'reset_zone()'}/
            {{task}}
          
      %br

      .span{'ng-show' => '!!zone', 'ng-cloak' => ''}
        .row
          .col-md-12.pre-scrollable{style: 'max-width:900px;'}
            Zone: {{zone}}

            %div{'ng-show' => 'active_teams.length == 0' }
              %br
              %br
              %p
                There are no teams for this zone. Please add them #{link_to 'here', teams_path}.
            %p

              %ul{'ng-repeat' => 'team in active_teams'}
                %li
                  .row
                    .col-md-4
                      %strong
                        {{team.name}}
                    .col-md-4
                      {{team.org.name}}
                    .col-md-4
                      %ul{'ng-repeat' => 'task in team.tasks'}
                        %li
                          &middot; 
                          {{task.name}}

                  .row{'ng-repeat' => 'person in team.ordered_people'}

                    .col-md-3
                      {{person.first_name}} {{person.middle_name}} {{person.last_name}}
                    .col-md-1
                      %div{'ng-show' => 'person.is_supervisor == true'}
                        *
                    .col-md-2
                      {{person.phone}}
                    .col-md-2
                      {{person.email}}
                    .col-md-6
                      {{person.notes}}
                %hr                           
