
%div{'ng-controller' => 'myCtrl'}
  .row
    .col-md-4
      .row
        .col-md-12
          %map

        .col-md-12
          - if is_admin?

            = link_to 'Orgs',   orgs_path
            |      
            = link_to 'Teams',  teams_path
            |
            = link_to 'People', people_path
            |
            = link_to 'Tasks',  tasks_path
            |
            / = link_to 'Zones',  zones_path
            / |
            = link_to 'Positions',  positions_path

    .col-md-8
      %br
      .row
        .col-md-6
          %form
            / .field{'ng-repeat' => '(task, enabled) in paired_tasks', 'ng-cloak' => ''}
            /   .row
            /     .col-md-6
            /       %input{"ng-model" => "tasks[task]", :type => 'checkbox', 'ng-click' => 'reset_zone()'}/
            /       {{task}}


            .field{'ng-repeat' => 'task in paired_tasks', 'ng-cloak' => ''}
              .row
                .col-md-6
                  %input{'ng-model' => "tasks[task['items'][0][0]]", :type => 'checkbox', 'ng-click' => 'reset_zone()'}/
                  {{task['items'][0][0]}}

                .col-md-6
                  %input{'ng-model' => "tasks[task['items'][1][0]]", :type => 'checkbox', 'ng-click' => 'reset_zone()'}/
                  {{task['items'][1][0]}}


        .col-md-6
          %input{'ng-model' => 'show_communities' , :type => 'checkbox',}
            Communities
          %br
            %input{'ng-model' => 'show_supporting_partners' , :type => 'checkbox',}
              Supporting partners


      %br
      %br
      %br

      .span{'ng-show' => '!zone'}
        %strong
          %p
            Mouse over an EPI zone to see the teams performing the checked tasks.
      .span{'ng-show' => '!!zone', 'ng-cloak' => ''}
        .row{style: 'min-height: 300px;'} 
          .col-md-12.pre-scrollable{style: 'max-width:900px;'}
            .row
              .col-md-2
                Zone: {{zone}}
              .col-md-10
                Area: {{zone_names[zone]}}

            %div{'ng-show' => 'active_teams.length == 0' }
              %br
              %br
              %p
                There are no teams for this zone. Please add them #{link_to 'here', teams_path}.
            %p

              %ul{'ng-repeat' => 'team in active_teams', style: 'font-size:8pt;'}
                %li
                  .row
                    .col-md-6
                      %strong
                        {{team.name}}
                    / .col-md-4
                    /   %a{'ng-click' => "open(team.org)", href: '#'}
                    /     {{team.org.name}}
                    .col-md-6
                      %ul{'ng-repeat' => 'task in team.tasks'}
                        %li
                          &middot; 
                          {{task.name}}

                  %people{people: 'team.ordered_people', position: 'people_position'}

                  %span{'ng-show' => '!!show_supporting_partners'}
                    Supporting partners
                    %ul{'ng-repeat' => 'partner in team.supporting_partners'} 
                      %li
                        %a{'ng-click' => "open(partner.org)", href: '#'}
                          {{partner.org.name}}
                        %people{people: 'partner.people'}


                %hr                           


        .row
          .col-md-12
            %span{'ng-repeat' => 'community in communities[zone]', 'ng-show' => '!!show_communities'}
              &middot; {{community}}
