
%div{'ng-controller' => 'myCtrl'}
  .row
    .col-md-4
      .row
        .col-md-12
          %map{ "disable-default-u-i" => "true", "disable-double-click-zoom" => "true", :draggable => "true", "dragging-cursor" => "move", "map-type-id" => "TERRAIN", :tilt => "45", :zoom => "11"}
            %fusion-tables-layer{'on-click' => "click(this);", 'suppress-info-windows'=>"true", :query => "{select: 'Geocodable address',  from: '1ttolLwbnJpNcsprPG-98e_ZsakZDRQ5Y7aUeGF5E'}"}
            / %kml-layer{:url => "zones.kml"}
        .col-md-12
          - if is_authorized?
            = link_to 'Orgs',   orgs_path
            |      
            = link_to 'Teams',  teams_path
            |
            = link_to 'People', people_path
            |
            = link_to 'Tasks',  tasks_path
            |
            = link_to 'Zones',  zones_path

    .col-md-8
      %br
      %br
      .span{'ng-show' => '!zone'}
        %p
          Click a zone on the map to see the teams operating there and the tasks they're engaged in.
        %p
          Add Organizations, teams, people, and tasks with the links below the map.
        %p
          An authentication system is in place but is turned off. 

      .span{'ng-show' => '!!zone'}
        .row
          .col-md-12.pre-scrollable{style: 'max-width:900px;'}
            Zone: {{zone}}

            %div{'ng-show' => 'teams.length == 0' }
              %br
              %br
              %p
                There are no teams for this zone. Please add them #{link_to 'here', teams_path}.
            %p
              %ul{'ng-repeat' => 'team in teams'}
                %li
                  .row
                    .col-md-5
                      %span{'ng-click' => 'get_people(team.name)', style: 'cursor:pointer;', 'ng-class' =>"{active: active == team.name}"}
                        {{team.name}}
                    .col-md-2
                      {{team.org.nick}}
                    .col-md-5
                      %ul{'ng-repeat' => 'task in team.tasks'}
                        %li
                          &middot; 
                          {{task.name}}

          .col-md-12
            %hr
              %div{'ng-show' => 'people.length == 0'}
                No members under this team yet. Please add them #{link_to 'here', people_path}.
              %table.table{'ng-show'=>'people.length>0'}
                %thead
                  %tr
                    %th First name
                    %th Middle name
                    %th Last name
                    %th Is supervisor
                    %th Email
                    %th Phone
                    %th Notes                  
                %tbody
                  %tr{'ng-repeat' => 'person in people'}
                    %td {{person.first_name}}
                    %td {{person.middle_name}}
                    %td {{person.last_name}}
                    %td {{!!person.is_supervisor}}
                    %td {{person.email}}
                    %td {{person.phone}}
                    %td {{person.notes}}                  
