= bootstrap_form_for @zone do |f|
  - if @zone.errors.any?
    #error_explanation
      %h2= "#{pluralize(@zone.errors.count, "error")} prohibited this zone from being saved:"
      %ul
        - @zone.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_area :description
  .field
    = f.text_field :name
  .field
    = f.number_field :objectID
  .field
    = f.text_field :epi_code
  .field
    = f.text_field :shape_leng
  .field
    = f.text_field :shape_area
  .field
    = f.text_field :cnam
  .field
    = f.text_field :geometry
  .actions
    = f.submit 'Save'
