%h1 Listing zones

%table
  %thead
    %tr
      %th Description
      %th Name
      %th Objectid
      %th Epi code
      %th Shape leng
      %th Shape area
      %th Cnam
      %th Geometry
      %th
      %th
      %th
      
  %tbody
    - @zones.each do |zone|
      %tr
        %td= zone.description
        %td= zone.name
        %td= zone.objectID
        %td= zone.epi_code
        %td= zone.shape_leng
        %td= zone.shape_area
        %td= zone.cnam
        %td= zone.geometry
        %td= link_to 'Show', zone
        %td= link_to 'Edit', edit_zone_path(zone)
        %td= link_to 'Destroy', zone, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Zone', new_zone_path
